.index-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    height: 98vh;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-container-title-text {
    font-size: 40px;
}

.login-container-title-text-sub {
    font-size: 13px;
}

.login-container-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-container-input {
    width: 45%;
    height: 45px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 20px;
    font-size: 13px;
}       

.login-container-input:focus {
    outline: #017BFF;
    border: 1px solid #017BFF;
}

.login-container-input::placeholder {
    font-size: 13px;
}

.login-container-button {
    width: 47%;
    height: 45px;
    background-color: #017BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
}

.login-container-signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.login-container-signup-text {
    font-size: 14px;
    line-height: 10px;
}

.login-container-signup-text-link {
    font-size: 13px;
    cursor: pointer;
}
